:root {
  --color-value-1: #4299e1;
  --color-value-2: #48bb78;
  --color-value-3: #f56565;
  --color-value-4: #9f7aea;
  --color-value-5: #f99f29;
  --color-value-6: #b4f44c;
  --color-value-7: #f0ed7e;
  --color-value-8: #85eaf7;
  --mine: #afb3ad;
  --bomb: rgb(255, 79, 79);
  --brand-bg: #acbfa4;
  --brand-bg-dark: #879680;
  --brand: #7c8a76;
  --brand-light: #e2e8ce;
  --brand-dark: #262626;
  --mine-width: 40px;
}

.game_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto 0;
  width: calc(var(--mine-width) * var(--mine-columns) + 20px);
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-bottom: 0;
  width: 100%;
  background: var(--brand-bg);
}

.flagCount,
.timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  height: 80px;
  background: var(--brand-dark);
  padding: 6px;
  border: 5px solid;
  border-color: var(--brand) var(--brand-light) var(--brand-light) var(--brand);
}

.digit {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 38px;
  height: 60px;
}
.digit-0 {
  background-image: url('../assets/img/DIGITZERO.png');
}
.digit-1 {
  background-image: url('../assets/img/DIGITONE.png');
}
.digit-2 {
  background-image: url('../assets/img/DIGITTWO.png');
}
.digit-3 {
  background-image: url('../assets/img/DIGITTHREE.png');
}
.digit-4 {
  background-image: url('../assets/img/DIGITFOUR.png');
}
.digit-5 {
  background-image: url('../assets/img/DIGITFIVE.png');
}
.digit-6 {
  background-image: url('../assets/img/DIGITSIX.png');
}
.digit-7 {
  background-image: url('../assets/img/DIGITSEVEN.png');
}
.digit-8 {
  background-image: url('../assets/img/DIGITEIGHT.png');
}
.digit-9 {
  background-image: url('../assets/img/DIGITNINE.png');
}

.control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background: url('../assets/img/play.png') no-repeat center/contain;
  border: 5px solid;
  border-color: var(--brand-light) var(--brand) var(--brand) var(--brand-light);
  cursor: pointer;
}
.control.lose {
  background-image: url('../assets/img/lose.png');
}
.control.win {
  background-image: url('../assets/img/win.png');
}

.grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  background: var(--brand-bg);
  font-family: 'Roboto Mono', monospace;
  font-size: 1.3em;
}

.minebox {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid;
  border-color: var(--brand-light) var(--brand) var(--brand) var(--brand-light);
}
.minebox.active:not(.flag) {
  border: 2px solid var(--brand);
}

.open {
  border: 2px solid;
  background-color: var(--brand-dark);
  border-color: var(--brand);
}

.value-1 {
  color: var(--color-value-1);
}
.value-1::after {
  content: '1';
}

.value-2 {
  color: var(--color-value-2);
}
.value-2::after {
  content: '2';
}

.value-3 {
  color: var(--color-value-3);
}
.value-3::after {
  content: '3';
}

.value-4 {
  color: var(--color-value-4);
}
.value-4::after {
  content: '4';
}

.value-5 {
  color: var(--color-value-5);
}
.value-5::after {
  content: '5';
}

.value-5 {
  color: var(--color-value-6);
}
.value-5::after {
  content: '5';
}

.value-6 {
  color: var(--color-value-7);
}
.value-6::after {
  content: '6';
}

.value-7 {
  color: var(--color-value-8);
}
.value-7::after {
  content: '7';
}

.value-8 {
  color: var(--color-value-1);
}
.value-8::after {
  content: '8';
}

.flag::after {
  content: '⛳️';
}
.value-mine {
  background-color: var(--mine);
}
.value-mine::after,
.wrongFlag::after {
  content: '💣';
}
.value-mine.bomb {
  background-color: var(--bomb);
}
.wrongFlag::before {
  position: absolute;
  top: 0px;
  left: 0px;
  content: '❌';
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  z-index: 2;
}

@keyframes firework {
  0% {
    transform: translate(-50%, 20px);
    width: 4px;
    opacity: 1;
  }
  30% {
    transform: translate(-50%, -10px);
    width: 4px;
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -40px);
    width: 140px;
    opacity: 0;
  }
}

.flag.firework::before {
  content: '';
  position: absolute;
  top: 20%;
  left: 50%;
  aspect-ratio: 1;
  background: radial-gradient(circle, var(--color-value-7) 0.5vmin, #0000 0) 50%
      00%,
    radial-gradient(circle, var(--color-value-7) 0.3vmin, #0000 0) 00% 50%,
    radial-gradient(circle, var(--color-value-8) 0.5vmin, #0000 0) 50% 99%,
    radial-gradient(circle, var(--color-value-8) 0.2vmin, #0000 0) 99% 50%,
    radial-gradient(circle, var(--color-value-3) 0.3vmin, #0000 0) 80% 90%,
    radial-gradient(circle, var(--color-value-4) 0.5vmin, #0000 0) 95% 90%,
    radial-gradient(circle, var(--color-value-3) 0.5vmin, #0000 0) 10% 60%,
    radial-gradient(circle, var(--color-value-4) 0.2vmin, #0000 0) 31% 80%,
    radial-gradient(circle, var(--color-value-7) 0.3vmin, #0000 0) 80% 10%,
    radial-gradient(circle, var(--color-value-8) 0.2vmin, #0000 0) 90% 23%,
    radial-gradient(circle, var(--color-value-4) 0.3vmin, #0000 0) 45% 20%,
    radial-gradient(circle, var(--color-value-3) 0.5vmin, #0000 0) 13% 24%;
  background-size: 0.5vmin 0.5vmin;
  background-repeat: no-repeat;
  animation: firework 1s 3 forwards linear;
}

/* level  */
.level_box {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding: 4px;
  background: var(--brand-bg);
  border-radius: 20px;
  font-size: 0.9rem;
  color: var(--brand-dark);
}

.level input {
  display: none;
}

.level label {
  display: inline-block;
  padding: 0.6em 0.8em;
  border-radius: 20px;
  cursor: pointer;
}

.level label:focus,
.level label:active,
.level label:hover {
  background: var(--brand-bg-dark);
}

.level.active label {
  background: var(--brand-light);
  color: var(--brand-dark) !important;
}
